.contato{
    display: flex;
    justify-content: center;
}

.container-contato{
    width: 100%;
    max-width: 1100px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}
.contato-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 40px;    
    align-items: center;
}

.grid-1-contato{
    border-right: 2px solid var(--cor-6);
}

.grid-1-contato h4{
    font-size: 1.5rem;
    font-family: "roboto";
    color: var(--cor-6);
    font-weight: 500;
    margin-bottom: 10px;

}

.form-contato{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 90%;
}
.form-contato div{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-contato input{
    background: transparent;
    border:2px solid var(--cor-6);
    border-radius: 5px;
    height: 30px;
    color: var(--cor-6);
    font-family: 'roboto';
    font-size: 1rem;
    padding: 5px;
}

.form-contato input:focus-visible,#mensagem:focus-visible{
    outline: none;
    border: solid 2px #5923B1!important;
}

#enviar-btn{
    background: #5923B1;
    border:solid 2px #5923B1;
    color: #fff;
    width: 30%;
    height:40px;
    cursor: pointer;
    transition: .4s;
}
#enviar-btn:hover{
    box-shadow: 0px 0px 10px #5923B1;
}


#mensagem{
        background: transparent;
     border:2px solid var(--cor-6);
     border-radius: 5px;
     color: var(--cor-6);
     font-family: 'roboto';
     font-size: 1rem;
     padding: 5px;
}

/*Iformações para contato*/
.grid-2-contato{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 55px;
}

.grid-2-contato a{
    color: var(--cor-6);
    display: flex;
    gap: 20px;
    font-family: 'roboto';
    text-decoration: none;
    text-align: left;
    align-items:center;
}

.grid-2-contato a span{
    font-size: 1.2rem;
    line-height: 1.7;
}

.grid-2-contato a span::after{
    content: '';
    display: block;
    background: var(--cor-6);
    width: 0;
    height: 2px;
    transition: .4s;
    margin-left: auto;
}
.grid-2-contato a span:hover::after{
    width: 100%;
    margin-left: 0;
}

.grid-2-contato a i{
    font-size: 3rem;
    text-align: center;
    height:48px;
    width: 48px;
    transition: .3s;
}

.grid-2-contato a i:hover{
    transform: translateY(-4px);
}

@media(max-width:1000px){
    .contato-conteudo{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .grid-1-contato{
        border: none;
        width: 100%;
        max-width: 500px;
    }
    .grid-1-contato form{
        width: 100%;
    }
    #enviar-btn{
        width: 100%;
    }

    .grid-2-contato{
        margin: 0;
        gap: 10px;
        width: 100%;
        max-width: 500px;
    }
    .grid-2-contato a i{
        font-size: 2rem;
        height: 30px;
        width: 30px;
    }
    .grid-2-contato a span{
        font-size: 1rem;
    }
}