#header{
    width: 100vw;
    position: fixed;
    top:0;
    z-index: 100;
    transition: 1s;
}

#header.ativo{
    box-shadow: inset 2000px 0px 0 var(--cor-3);
}

.menu-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    max-height: 30px;
}

.btn-menu{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: none;
}



.menu-links a{
    color:#fff;
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 1.2rem;
}


.btn-theme:hover{
    transform: translateY(-2px);
}

.btn-theme .ativo{
    display: none;
}

.menu-links a::after{
    content: '';
    display: block;
    background: #fff;
    width: 0;
    height: 2px;
    transition: .4s;
    margin-left: auto;
}
.menu-links a:hover::after{
    width: 100%;
    margin-left: 0;
}

@keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-60px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(-18px, 0, 0);
    }
  }

@media(max-width:600px){
    #header{
        display: none;
    }
  
 
}